.MainContainer {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0;
  width: var(--width);
  background-color: #181818;
  box-sizing: content-box;
  margin: 0;

  &::before {
    content: '';
    height: 100%;
    background-color: #181818;
    position: absolute;
    top: 0;
    left: calc((var(--width) - 100vw) / 2);
    right: calc(((var(--width) - 100vw) / 2) + 40px);
  }

  // プレイヤー
  &-player {
    width: var(--left-width);
  }

  // コメントパネル
  &-commentPanel {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    width: var(--right-width);
    background-color: #202020;
  }
}

.PlayerContainer {
  background-color: transparent;
  overflow: visible;
  cursor: none;

  &.is-mouseMoving {
    cursor: default;
  }
}

.VideoContainer {
  border-bottom: transparent 32px solid;
  box-sizing: content-box;

  // 準備中...
  &.is-preparing {
    > .Spinner {
      display: block;
    }
  }

  // 読み込み中...
  @include spinner(
    $selector: '> .Spinner',
    $circleSize: 40px,
    $lineWidth: 5px,
    $lineColor: var(--primary-color-1),
    $backgroundColor: #000
  ) {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    z-index: 10;
    display: none;

    > svg {
      display: none;
    }
  }
}

// 設定
.PlayerOptionContainer {
  position: absolute;
  top: 42px;
  bottom: 10px;
  left: calc(100% + 10px);
  right: auto;
  padding: 0;
  background-color: #fff;
  width: 340px;
  border-radius: 2px;
  overflow: auto;
  transition: 0.3s all $ease-out-quart;
  transform-origin: left calc(100% - 22px);
  display: block;
  cursor: default;

  @include scrollbar(light, #fff);

  &.is-hidden {
    opacity: 0;
    transform: scale(0);
  }

  &-area {
    + .PlayerOptionContainer-area {
      border-top: 1px #e0e0e0 solid;
    }
  }

  .PlayerOptionMenu {
    height: auto;
    display: block;
    padding: 10px 0;
  }

  .PlayerOptionMenuItem {
    background-color: transparent;
    padding: 8px 16px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    + .PlayerOptionMenuItem {
      border-top: 1px #e0e0e0 solid;
    }

    &-title {
      color: #303030;
      margin: 0;
      font-size: 1.2rem;
      flex: 2;
    }

    &-content {
      flex: 1;

      // アンケート設定リンク
      .NicoenqueteSettingItem-link {
        @include flatButton;

        font-size: 0;
        height: auto;
        background-color: transparent;
        line-height: inherit;
        min-width: initial;
        color: #c0c0c0;

        &:hover {
          color: #808080;
        }

        &:active {
          color: #f0f0f0;
        }

        &::before {
          @include mdi;

          content: mdi(open-in-new);
          font-size: 1.6rem;
        }
      }
    }

    .HelpLink {
      display: none;
    }

    // 無理やりトグルスイッチにする呪文
    &.JihoMenuItem,
    &.AutoPlayMenuItem,
    &.ResumeMenuItem,
    &.DisabledPrerollAdsMenuItem {
      .PlayerOptionRadioGroup {
        &-inner {
          flex-direction: row;
        }
      }

      .RadioItem {
        padding: 5px 0;
        margin: 0;
        overflow: hidden;

        &:first-child {
          padding-left: 5px;
          margin-left: -5px;
        }

        &:last-child {
          padding-right: 5px;
        }

        input[type='radio'] {
          &:checked {
            + .RadioItem-label {
              &[for$='-on'] {
                background-color: var(--primary-color-2);

                &::before {
                  transform: translate3d(0, 0, 0);
                  background-color: var(--primary-color-1);
                }
              }

              &[for$='off'] {
                background-color: #d0d0d0;

                &::before {
                  transform: translate3d(0, 0, 0);
                  background-color: #fff;
                }
              }
            }
          }
        }

        &-label {
          font-size: 0;
          width: 20px;
          height: 16px;
          padding: 0;
          min-width: initial;
          line-height: inherit;
          position: relative;

          &[for$='-on'] {
            background-color: #d0d0d0;
            border-radius: 0 8px 8px 0;

            &::before {
              transform: translate3d(-100%, 0, 0);
              background-color: #fff;
            }
          }

          &[for$='-off'] {
            background-color: var(--primary-color-2);
            border-radius: 8px 0 0 8px;

            &::before {
              transform: translate3d(100%, 0, 0);
              background-color: var(--primary-color-1);
            }
          }

          &::before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            transition: all 0.3s $ease-out-quart;
          }
        }
      }
    }
  }
}

// ラジオボタン
.PlayerOptionRadioGroup {
  &-inner {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
  }
}

.RadioItem {
  .SharePanelContainer-radioGroup &,
  .PerformanceMenuItem &,
  .PlayerSizeMenuItem &,
  .FullscreenModeMenuItem &,
  .CommentTransparencyPercentMenuItem & {
    + .RadioItem {
      margin-top: 8px;
    }
  }

  // マイリスト登録パネル
  &.AddingMylistPanel-radioItem {
    > .RadioItem-label {
      &::after {
        display: none;
      }
    }
  }

  input[type='radio']:not([id$='-on']):not([id$='-off']) {
    &:checked {
      + .RadioItem-label {
        color: inherit;
        background-color: transparent;
        border-radius: 0;

        &::before {
          background-color: var(--primary-color-1);
          box-shadow: 0 0 0 2px var(--primary-color-1);
          animation: radioButton 0.3s $ease-out-quart;
        }
      }
    }
  }

  &-label:not([for$='-on']):not([for$='-off']) {
    padding: 0;
    font-size: 1.2rem;
    text-align: left;
    line-height: 2rem;
    height: auto;
    min-width: initial;

    &[for^='AddingMylistPanel-radio'] {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 16px;
    }

    &::before {
      all: unset;
      content: '';
      width: 16px;
      height: 16px;
      display: inline-block;
      border: 3px #fff solid;
      box-shadow: 0 0 0 2px #333;
      box-sizing: border-box;
      border-radius: 100%;
      margin-right: 8px;
      vertical-align: middle;
      transition: all 0.3s $ease-out-quart;
    }
  }
}

// セレクトフィールド
.PlayerOptionDropdown {
  width: 100%;
  line-height: 3rem;

  &.dropdown--active {
    .dropdown__content {
      transition: all 0.3s $ease-out-quart;
      transform: scaleY(1);
      opacity: 1;
      z-index: 20;
    }
  }

  &-toggle {
    background-color: transparent;
    height: auto;
    line-height: inherit;
    font-size: inherit;
    padding: 0;
    border-radius: 0;
    border-bottom: 1px #e0e0e0 solid;
    position: relative;
    width: 100%;
  }

  &-toggleLabel {
    color: #888;
    margin: 0;
  }

  &-toggleArrow {
    width: auto;
    height: auto;
    position: static;

    &::after {
      border-top-color: #888;
      border-width: 5px 5px 0;
      position: absolute;
      top: calc(50% - 2.5px);
      right: 4px;
      transform: none;
    }
  }

  &-menu {
    background-color: #fff;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
    display: block;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: opacity 0.3s $ease-out-quart, transform 0s 0.5s;
    top: -10px;
    left: 0;
    right: 0;
    white-space: nowrap;
  }
}

.PlayerOptionDropdownItem {
  margin: 0;
  height: auto;

  &:hover,
  &.is-selected {
    .PlayerOptionDropdownItem-inner {
      color: inherit;
      background-color: #f0f0f0;
    }
  }

  &-inner {
    width: 100%;
    line-height: 3rem;
    padding: 0 16px;
    font-size: 1.3rem;
    text-align: left;
    color: #303030;
    border-radius: 0;
    overflow: visible;
    cursor: pointer;
    transition: background-color 0.3s $ease-out-quart;

    &:hover {
      all: inherit;
    }
  }
}

.ControllerBoxContainer {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  height: auto;
  background-color: transparent;

  .MainContainer-player:hover &::before {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 32px;
    height: 80px;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
    pointer-events: none;
  }
}

.SeekBarContainer,
.ControllerContainer {
  opacity: 0;
  transition: opacity 0.2s ease-out;

  .MainContainer-player:hover & {
    opacity: 1;
  }
}

.ControllerContainer {
  padding: 0;

  &-area {
    &:nth-child(-n + 2) {
      flex: 0;
    }
  }

  &-centerArea {
    padding-left: 8px;
  }
}

// シークバー
.SeekBarContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  margin-bottom: -8px;

  &:hover {
    height: 114px;
  }
}

.SeekBar {
  background-color: rgba(255, 255, 255, 0.3);

  &-hover {
    background-color: rgba(255, 255, 255, 0.7);
  }

  &-buffered {
    background-color: rgba(255, 255, 255, 0.5);
  }

  &-played,
  .SeekBarHandle-handle {
    background-color: var(--primary-color-1);
  }
}

// シークプレビュー
.SeekBarStoryboard {
  top: -10px;

  .Storyboard {
    border: 2px #121212 solid;
  }

  + .SeekBarTimeTip {
    &-time {
      border-radius: 2px 2px 0 0;

      &::before {
        border-top-color: rgba(0, 0, 0, 0.8);
      }
    }
  }
}

.SeekBarTimeTip {
  top: -12px;

  &-time {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 5px;
    line-height: 2rem;
    font-weight: bold;
    border-radius: 2px;
    font-size: 1.1rem;
    position: relative;

    &::before {
      content: '';
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #121212 transparent transparent transparent;
      position: absolute;
      top: 100%;
      left: calc(50% - 5px);
    }
  }
}

// コメント投稿
.CommentPostContainer {
  display: flex;

  &.is-fullscreen {
    position: relative;
  }

  > .GridCell {
    background-color: #303030;
    border: none;
    color: #f0f0f0;
  }

  &-commentShutter {
    display: none;
  }

  &-commandInput {
    flex: 30%;

    .CommentCommandInput {
      color: currentColor;
    }
  }

  &-commentInput {
    flex: 50%;

    .CommentInput-textarea {
      color: currentColor;
    }
  }

  &-postButton {
    flex: 20%;

    .CommentPostButton {
      width: 100%;
      background-color: #202020;
      color: #f0f0f0;
      transition: background 0.2s ease-out;

      &:hover {
        background-color: var(--primary-color-1);
      }

      &:active {
        background-color: var(--primary-color-5);
      }
    }
  }
}

// アイコン
.ControllerButton {
  width: 36px;
  height: 36px;
  padding: 0;
  color: #e0e0e0;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

  &:hover {
    color: #f0f0f0;
  }

  &::before {
    @include mdi;

    font-size: 2rem;
    line-height: 2rem;
    color: currentColor;
  }

  svg {
    display: none;
  }
}

.SeekToHeadButton,
.PlayerSeekBackwardButton,
.PlayerSeekForwardButton,
.PlayerSkipNextButton {
  display: none;
}

.PlayerPlayTime {
  text-shadow: none;
  height: auto;
}

.PlayerPlayButton,
.PlayerPauseButton {
  width: 46px;
}

.PlayerPlayButton {
  &::before {
    content: mdi(play);
  }
}

.PlayerPauseButton {
  &::before {
    content: mdi(pause);
  }
}

.MuteVideoButton {
  &::before {
    content: mdi(volume-high);
  }

  &:hover {
    + .VolumeBarContainer {
      width: 60px;
    }
  }
}

.UnMuteVideoButton {
  &::before {
    content: mdi(volume-mute);
  }
}

.PlayerRepeatOnButton {
  &::before {
    content: mdi(repeat);
  }
}

.PlayerRepeatOffButton {
  &::before {
    content: mdi(repeat-once);
  }
}

.CommentOnOffButton {
  &[data-title='コメントを表示する']::before {
    content: mdi(comment-outline);
  }

  &[data-title='コメントを表示しない']::before {
    content: mdi(comment);
  }
}

.EnableFullScreenButton {
  &::before {
    content: mdi(fullscreen);
  }
}

.DisableFullScreenButton {
  &::before {
    content: mdi(fullscreen-exit);
  }
}

.PlayerOptionButton {
  &::before {
    content: mdi(settings);
  }
}

// 音量
.VolumeBarContainer {
  width: 0;
  transition: width 0.2s ease-out;

  &:hover {
    width: 60px;
  }

  .VolumeBar {
    background-color: rgba(255, 255, 255, 0.3);

    &:hover {
      height: 4px;

      .ProgressBar {
        height: 4px;
        bottom: 4px;
      }
    }

    .VolumeBar-progress {
      background-color: var(--primary-color-1);
    }
  }
}

// ニコ割
.MarqueeContainer {
  display: none;
}

// コメント欄下部広告
.NicoSpotAdContainer,
.MiniBannerAdContainer {
  display: none;
}

// メニュー内アクションボタン共通設定
.VideoMenuContainer,
.CommentPanelMenuContainer {
  .ActionButton {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    color: #424242;

    &.is-active {
      color: var(--primary-color-1);
    }

    &:hover:not(.is-active) {
      color: #626262;
    }

    &::before {
      @include mdi;

      font-size: 1.6rem;
      line-height: 3.2rem;
      width: 32px;
      height: 32px;
    }

    > svg {
      display: none;
    }
  }
}

// メニュー
.VideoMenuContainer {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: auto;
  height: auto;

  &::before {
    display: none;
  }

  &::after {
    display: none;
  }

  .ActionButton {
    // とりあえずマイリスト
    &.InstantMylistButton {
      &::before {
        content: mdi(plus);
      }

      &.is-succeeded,
      &.is-failed {
        &::after {
          padding: 0 8px;
          line-height: 2.5rem;
          border-radius: 2px;
        }
      }

      // 登録成功!
      &.is-succeeded {
        &::before {
          content: mdi(check);
        }

        &::after {
          background-color: var(--primary-color-1);
        }
      }

      // 登録失敗...
      &.is-failed {
        &::after {
          background-color: #ef5350;
        }
      }
    }

    &[data-title='マイリスト'] {
      &::before {
        content: mdi(playlist-plus);
      }
    }

    &.UadButton {
      &::before {
        content: mdi(flash);
      }
    }

    &.TwitterShareButton {
      &:hover {
        color: #55acee;
      }

      &::before {
        content: mdi(twitter);
      }
    }

    &.FacebookShareButton {
      &:hover {
        color: #3b5999;
      }

      &::before {
        content: mdi(facebook);
      }
    }

    &.LineShareButton {
      &:hover {
        color: #00c300;
      }

      &::before {
        content: 'LINE';
        font-size: 1rem;
        font-weight: bold;
      }
    }

    &.SharePanelVisibleButton {
      background-color: transparent;

      &::before {
        content: mdi(share);
      }
    }
  }

  .UadButtonBalloon {
    display: none;
  }

  // 動画操作メニュー
  &-areaLeft {
    padding: 0;
    background-color: transparent;
    position: absolute;
    right: 100%;
    margin: 16px 16px 0 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index: 10;
    white-space: normal;

    .MainContainer-player:hover + .MainContainer-commentPanel & {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    > * {
      margin: 0;

      + * {
        margin-top: 10px;
      }
    }

    .ActionButton {
      @include tooltip(left);

      &::before {
        color: #f0f0f0;
        font-size: 1.8rem;
        line-height: 3.6rem;
        background-color: rgba(0, 0, 0, 0.6);
        width: 36px;
        height: 36px;
        border-radius: 100%;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      }

      &:hover::before {
        color: var(--primary-color-1);
      }
    }
  }

  // 動画共有メニュー
  &-areaRight {
    background-color: transparent;
    padding-left: 8px;

    .ClickInterceptor {
      all: unset;
    }

    a[href*='mtm.nicovideo.jp'] {
      all: unset;
      position: relative;

      &:hover::before {
        color: #626262;
      }

      > svg {
        display: none;
      }

      &::before {
        @include mdi;
        content: mdi(newspaper);
        color: #424242;
        line-height: 3.2rem;
        width: 3.2rem;
        font-size: 1.6rem;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}

.CommentPanelContainer {
  top: 32px;
  bottom: 0;
  width: var(--right-width);
  background-color: #202020;

  // 読み込み中
  &-loadingContainer {
    position: absolute;
    top: 28px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: center;

    @include spinner(
      $selector: '> .Spinner',
      $circleSize: 40px,
      $lineWidth: 5px,
      $lineColor: var(--primary-color-1),
      $backgroundColor: #222
    ) {
      svg {
        display: none;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

// コメントパネルメニュー
.CommentPanelMenuContainer {
  border: none;

  &-mainMenuArea {
    // コメント操作メニュー
    &:last-child {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  // 過去ログメニュー
  &-pastCommentMenu {
    all: unset;
    background-color: #202020;
    padding: 16px;
    display: none;
    height: auto;

    .is-pastCommentMode & {
      display: block;
    }

    > div {
      display: flex;
    }

    .DateTimeInput {
      margin: 0;
      display: flex;
      flex: 1;

      > input {
        all: unset;
        color: #f0f0f0;
        box-shadow: 0 -1px #383838 inset;
        transition: box-shadow 0.2s ease-out;

        &:focus {
          box-shadow: 0 -2px var(--primary-color-1) inset;
        }

        + input {
          margin-left: 8px;
        }

        &.DateTimeInput-date {
          flex: 1;
        }
      }
    }

    .PastCommentFetchButton {
      all: unset;

      @include flatButton(after, light);

      margin-left: 8px;
      font-size: 1.2rem;
      line-height: inherit;
    }
  }

  .ActionButton {
    &.CalendarButton {
      &::before {
        content: mdi(calendar-text);
      }
    }

    &.ReloadButton {
      &::before {
        content: mdi(reload);
      }
    }

    &.CommentPanelAutoScrollButton {
      &::before {
        content: mdi(arrow-down-drop-circle);
      }
    }

    &[data-title='NG設定'] {
      &::before {
        content: mdi(comment-remove);
      }
    }
  }

  // コメント操作メニュー
  &-mainMenu {
    padding: 0;
    width: auto;
    height: auto;

    &Area {
      // スレッド変更メニュー
      &:first-child {
        display: none;
        position: absolute;
        left: 40px;
        top: 108px;
        z-index: 15;

        > .DropDownMenu {
          border: none;
          background-color: transparent;
          -webkit-appearance: none;
          border-bottom: 1px #e0e0e0 solid;
          border-radius: 0;
          padding: 0 10px;
          line-height: 2.8rem;
          cursor: pointer;
          outline: none;
        }
      }

      // スレッド操作メニュー
      &:last-child {
        padding-right: 8px;
      }
    }
  }
}

.CommentPanelDataGrid {
  all: unset;
  color: #808080;
  flex: 1;
  position: relative;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  overflow: hidden;

  &-cell {
    text-overflow: clip;
  }

  &-headerCell {
    background-color: transparent;
    border: none;
    font-weight: normal;

    &[data-name='content'] {
      padding-left: 10px;
    }

    + hr {
      background-color: rgba(0, 0, 0, 0.15);
      width: 5px;
    }
  }

  [class^='___header___'] {
    position: relative;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    z-index: 5;
    background-color: #303030;
  }

  [class^='___body___'] {
    @include scrollbar(dark, #202020);
  }

  [class^='___table-row___'] {
    &:hover {
      background-color: #282828;
    }
  }

  [class^='___table-cell___'] {
    background-color: transparent;
    border: none;
    font-weight: normal;
    color: #505050;

    &[data-name='content'] {
      color: #c0c0c0;

      > span {
        padding-left: 10px;
      }
    }
  }
}

// コンテキストメニュー
.ContextMenu {
  position: absolute;
  width: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  overflow: hidden;
}

// コメントパネル コンテキストメニュー
.CommentPanelContextMenuContainer {
  border: none;
  max-width: initial;
  padding: 50px 0 10px;

  &-menuHeading,
  &-menuItem {
    font-size: 1.3rem;
    padding: 0 16px;
  }

  &-menuHeading {
    background-color: var(--primary-color-1);
    color: #f0f0f0;
    line-height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &-menuItem {
    line-height: 3.2rem;
  }
}

// プレイヤー コンテキストメニュー
.VideoContextMenuContainer {
  background-color: #fff;
  border: none;
  font-size: 1.3rem;
  padding-bottom: 10px;

  &-commentMenus {
    margin: 0;
    padding-bottom: 10px;
  }

  &-ngMenu {
    border-bottom: 1px #e0e0e0 solid;
    padding-bottom: 10px;
    margin: 0;
  }

  &-menuHeading {
    background-color: var(--primary-color-1);
    line-height: 4rem;
    margin-bottom: 10px;
    padding: 0 16px;
    font-size: 1.3rem;
  }

  &-item {
    color: #202020;
    line-height: 3.2rem;
    padding: 0 16px;

    &:hover {
      background-color: #f0f0f0;
    }
  }
}

// NGパネル
.NGSettingPanelContainer {
  background-color: #fff;
  flex-direction: column;
  display: flex;
  animation: show 0.3s $ease-out-quart forwards;
  transform-origin: top right;

  &-header {
    background-color: transparent;
    height: auto;
    position: static;

    .is-modalView & {
      display: none;
    }
  }

  &-headerText {
    display: none;
  }

  &-contentTop {
    padding: 10px 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    left: 0;
    width: 100%;

    > .GridCell {
      flex: 0 0 auto;
    }

    .is-modalView & {
      display: none;
    }
  }

  // NG登録数
  &-num {
    width: auto;
    order: 2;
  }

  // NG追加
  &-openViewerNGRegisterButtonCell {
    all: unset;
    order: 1;
  }

  &-openViewerNGRegisterButton {
    all: unset;

    @include flatButton;
  }

  &-num,
  &-enableCheckbox {
    line-height: inherit;
    color: #888;
  }

  // NGトグル
  &-enableSettingArea {
    all: unset;
    order: 3;
  }

  &-enableCheckbox {
    @include player-toggleButton;

    .CheckboxLabel {
      display: none;
    }
  }

  &-content {
    position: static;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-contentMain {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    background: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    border-bottom: 1px #e0e0e0 solid;
    padding: 4px 0 0;

    .is-modalView & {
      display: none;
    }
  }

  &-contentBottom {
    position: static;
    text-align: right;
    padding: 10px 16px;
    height: auto;

    .is-modalView & {
      display: none;
    }
  }

  &-removeButton {
    all: unset;

    @include flatButton;

    background: none;
  }

  &-close {
    all: unset;

    @include flatButton;

    position: absolute;
    top: auto;
    right: 168px;
    bottom: 10px;

    &::before {
      content: 'キャンセル';
    }

    .CloseButton-inner {
      display: none;
    }
  }

  // NG追加モーダル
  &-contentModal {
    position: static;

    &::before {
      display: none;
    }
  }
}

.ViewerNGRegister {
  all: unset;
  margin: 0;
  width: 100%;

  &-title {
    all: unset;
    padding: 16px;
    display: block;
    font-size: 1.4rem;
    text-align: center;
  }

  &-radioGroup {
    padding: 8px 16px;
    display: flex;
    justify-content: space-around;
  }

  &-radioItem {
    all: unset;
    margin: 0;

    > .RadioItem-label {
      &::after {
        display: none;
      }
    }
  }

  &-inputArea {
    padding: 16px;
  }

  &-input {
    @include textField;

    padding: 8px;
  }

  &-bottom {
    all: unset;
    display: flex;
    justify-content: center;

    > button {
      all: unset;
      color: inherit;
      line-height: inherit;

      @include flatButton;

      + button {
        margin-left: 16px;
      }
    }
  }
}

.ViewerNGList {
  position: static;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 3rem;

  @include player-checkbox($theme: light);

  .GridCell {
    border: none;
    padding: 0 0 0 8px;

    &:first-child {
      padding-left: 16px;
    }
  }

  &-header {
    padding: 0;
    background: none;
    color: #b0b0b0;
    line-height: inherit;
    border-bottom: 1px #e0e0e0 solid;
  }

  &-items {
    position: static;
    flex: 1;
    color: #303030;

    @include scrollbar(light, #fff);
  }

  &-item {
    padding: 0;
    line-height: inherit;
    font-size: 1.2rem;
    border: none;

    &.is-checked {
      background-color: #f0f0f0;
    }
  }

  &-headerCheck,
  &-itemCheck {
    flex: 0 0 auto;
    width: auto;
  }

  &-itemType {
    flex: 0 0 80px;
  }

  &-itemSource {
    max-width: initial;
  }
}

// 共有パネル
.SharePanelContainer {
  display: flex;
  flex-direction: column;
  animation: show 0.3s $ease-out-quart forwards;
  transform-origin: top left;

  &::before {
    display: none;
  }

  &-header {
    all: unset;
    text-align: center;
    padding: 16px 0;
  }

  &-close {
    all: unset;
    position: absolute;
    top: 8px;
    right: 8px;

    &::before {
      @include mdi;

      content: mdi(close);
      width: 32px;
      height: 32px;
      line-height: 3.2rem;
      border-radius: 100%;
      cursor: pointer;
      font-size: 1.6rem;
    }

    svg {
      display: none;
    }
  }

  &-content {
    padding: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &-radioItem {
    .RadioItem-label {
      &::after {
        display: none;
      }
    }
  }

  &-radioGroup {
    + div {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-textarea {
    all: unset;

    @include textField;
    @include scrollbar(light, #fff);

    flex: 1;
    width: 100%;
    box-sizing: border-box;
  }

  &-copyButton {
    all: unset;

    @include flatButton;

    margin-top: 16px;

    svg {
      display: none;
    }
  }
}

// 再生終了後の関連動画
.VideoEndScreenContainer {
  &-videoInfo {
    display: none;
  }

  &-content {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
}

.VideoEndScreenRelatedVideosContainer {
  all: unset;
  display: grid;
  grid-template-columns: repeat(3, 130px);
  grid-auto-rows: 73px;
  grid-gap: 16px;
  justify-content: center;

  &-video {
    all: unset;
    position: relative;

    &:hover {
      all: unset;
    }
  }

  &-videoThumbnail {
    width: 130px;
    height: 73px;
    object-fit: cover;
  }

  &-videoInfo {
    all: unset;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 8px;
    transition: 0.2s ease-out;

    .VideoEndScreenRelatedVideosContainer-video:hover & {
      opacity: 1;
    }
  }

  &-videoInfoTitle {
    all: unset;
    width: 100%;
    color: #f0f0f0;
    box-sizing: border-box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    line-height: 1.8rem;
  }

  &-videoInfoCount {
    display: none;
  }

  &-videoDuration {
    all: unset;
    position: absolute;
    right: 2px;
    bottom: 2px;
    color: #f0f0f0;
    padding: 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 1rem;

    .VideoEndScreenRelatedVideosContainer-video:hover & {
      opacity: 0;
    }
  }

  &-pagerLeft {
    left: 32px;
  }

  &-pagerRight {
    right: 32px;
  }
}

// 読み込み中は再生ボタンを表示しない
.VideoStartButtonContainer {
  .VideoContainer.is-preparing & {
    display: none;
  }
}

// システムメッセージ
.SystemMessageContainer {
  @include scrollbar(dark, #202020);
}

// 一般会員へのメッセージ
.PreVideoStartPremiumLinkContainer {
  bottom: 60px;
}

.FloatingPanelContainer {
  all: unset;
  position: absolute;
  top: 30px;
  right: 10px;
  bottom: 30px;
  width: 340px;
  z-index: 10;
  background: none;
  margin-top: 32px;
  overflow: hidden;
  border-radius: 2px;
}

.AddingMylistPanel {
  all: unset;
  display: flex;
  flex-direction: column;
  flex: 1;

  &-content {
    display: flex;
    flex-direction: column;
  }

  &-mylist {
    all: unset;
    flex: 1;
    overflow: auto;

    @include scrollbar($theme: light, $color: #fff);
  }

  &-radioItem {
    all: unset;
    height: 42px;
    display: block;

    &:hover,
    &.is-checked {
      all: unset;
    }
  }

  &-radioContent {
    all: unset;
    display: flex;
    flex: 1;
  }

  &-name {
    all: unset;
    flex: 1;
  }

  &-status {
    all: unset;
    flex: 0 0 auto;

    > span {
      font-size: 0;

      &::before {
        @include mdi;

        font-size: 1.6rem;
        width: 16px;
        height: 16px;
        line-height: 1.6rem;
      }

      &.public {
        &::before {
          content: mdi(earth);
        }
      }

      &.private {
        &::before {
          content: mdi(lock);
        }
      }
    }
  }

  &-controls {
    all: unset;
    flex: 0 0 64px;
    padding: 14px 16px;
    box-sizing: border-box;
    display: flex;
  }

  &-mylistComment {
    all: unset;
    flex: 1;
    line-height: 2.6rem;
    background-color: #fff;

    @include textField;
  }

  &-actionButton {
    all: unset;
    background-color: transparent;
    margin-left: 8px;

    @include flatButton($ripple: dark);
  }
}

.AddingMylistPanelContainer {
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  animation: show 0.3s $ease-out-quart forwards;
  transform-origin: top left;

  &::before {
    all: unset;
  }

  &-header {
    all: unset;
    font-size: 1.6rem;
    line-height: 48px;
    padding: 0 16px;

    &-closeButton {
      all: unset;
      position: absolute;
      right: 10px;
      top: 8px;
      width: 32px;
      height: 32px;

      &::before {
        content: mdi(close);
        width: 100%;
        height: 100%;
        line-height: 3.2rem;
        font-size: 1.6rem;

        @include mdi;

        vertical-align: top;
      }

      > .CloseButton-inner {
        display: none;
      }
    }
  }
}
