body {
  --right-width: 360px;
  --right-content-width: calc(var(--right-width) - 10px);

  background-color: var(--background-color);

  &.is-middle {
    --width: 1000px;
    --left-width: 640px;
    --left-content-width: calc(var(--left-width) - 10px);
    --content-top: calc(432px + 20px);
  }

  &.is-large {
    --width: 1214px;
    --left-width: 854px;
    --left-content-width: calc(var(--left-width) - 10px);
    --content-top: calc(552px + 20px);
  }

  &.is-fullscreen {
    padding: 0;

    .MainContainer {
      transform: none;
    }
  }
}

.Grid {
  display: flex;
}

.GridCell {
  flex: 1;
  display: initial;
}

.SwitchToFlashLead {
  display: none;
}

// 投稿者専用
.EditorMenuContainer {
  margin: 0;
  height: auto;
  background-color: #fff;
  position: relative;
  z-index: 100;

  &-inner {
    width: var(--width);
    margin: 0;
    padding: 0 30px;
  }

  &-menuBox {
    height: auto;
    float: none;

    &-menu {
      line-height: 4rem;
      height: 40px;
      padding: 0 8px;
      font-weight: normal;
      display: flex;
      justify-content: center;
      color: #303030;
      position: relative;

      &.is-open {
        .EditorMenuContainer-menuBox-menu-child {
          opacity: 1;
          transform: scale(1);
        }
      }

      &:hover {
        background-color: #f0f0f0;
      }

      &:first-child {
        display: none;
      }

      > span {
        margin: 0;
        width: calc(100% - 1rem);
        overflow: hidden;
        line-height: inherit;
        height: 100%;

        > svg {
          display: none;
        }
      }

      // メニューコンテンツ
      &-child {
        position: absolute;
        left: 0;
        top: 100%;
        bottom: auto;
        padding: 10px 0;
        display: block;
        opacity: 0;
        transform: scale(0);
        transform-origin: top left;
        transition: all .3s $ease-out-quart;
        background-color: #fff;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        border: none;

        > .menuItem {
          line-height: 3.2rem;
          height: 3.2rem;
          background-color: transparent;

          > .Link {
            padding: 0 16px;
            color: #303030;

            &:hover {
              background-color: #f0f0f0;
            }
          }
        }
      }
    }
  }

  &-updateMessage {
    display: none;
  }
}

.WatchAppContainer {
  padding: 0;
  display: flex;
  flex-direction: column;

  &-main {
    position: relative;
    width: var(--width);

    &::after {
      content: '';
      display: block;
      clear: both;
    }
  }
}

.BottomContainer {
  width: auto;
  margin: 0;

  > div {
    &:first-child {
      > .Grid {
        position: static;
        display: block;
      }
    }
  }

  &-card {
    background-color: transparent;
    border-radius: 0;
  }

  &-cardHeader,
  &-cardMain {
    padding: 0;
  }

  &-main {
    padding: 0;
  }

  &-card {
    margin: 0;

    // プレイリスト
    &:first-child {
      width: var(--right-content-width);
      float: right;
      position: relative;
      box-shadow: 0 0 2px rgba(0,0,0,.4);
      padding: 0 0 52px;
      background-color: #f2f2f2;
      margin: calc(var(--content-top) + 132px + 20px) 0 0;
      border-radius: 2px;

      .BottomContainer-cardHeader {
        padding: 16px;
        border-bottom: 1px #ddd solid;
        position: static;
      }

      .BottomContainer-cardTitle {
        width: 100%;
        font-size: 1.4rem;
      }

      .BottomContainer-cardMenu {
        right: auto;
        position: absolute;
        transform: translateX(-50%);
        top: auto;
        bottom: 10px;
        left: 50%;

        .ToggleAndDisplayPattern {
          margin-left: 8px;
        }
      }
    }

    // コンテンツツリー
    &:nth-child(2) {
      clear: left;
      float: left;
      position: relative;
      width: var(--left-content-width);
      margin: 20px 0 0;

      .BottomContainer-cardHeader {
        display: none;
      }

      .BottomContainer-cardMain {
        padding: 0;
      }
    }

    // ニコニ広告
    &:nth-child(3) {
      float: left;
      width: var(--left-content-width);
      margin-top: 20px;

      .BottomContainer-cardHeader {
        padding: 16px;
        text-align: center;
      }

      .BottomContainer-cardTitle {
        all: unset;
        font-weight: bold;
        font-size: 1.6rem;
      }
    }

    // 市場
    &:last-child {
      clear: left;
      float: left;
      width: var(--left-content-width);
      position: relative;
      margin-top: 20px;
    }
  }

  // サービスリンク / 広告
  &-side,
  &-adContainer {
    display: none;
  }
}

.ContentTree-parentSummary {
  padding: 0;
  width: auto;
}

// フッター
.FooterContainer {
  clear: both;
  min-width: var(--width);
  background-color: #fff;
  margin: 16px 0 0;

  a {
    color: #303030;
    font-size: 1.3rem;
  }

  &-content {
    width: var(--width);
    padding: 30px;
    position: static;
    display: flex;

    > .GridCell {
      flex: 1;

      &:last-child {
        flex: 2;
      }
    }
  }

  &-logo {
    margin: 0;
    width: 160px;
    height: auto;
    text-decoration: none;

    > svg {
      fill: #303030;
    }

    &::after {
      content: 'redesigned by HAYU';
      font-size: 1.2rem;
      font-weight: bold;
      display: block;
      color: #e0e0e0;
      margin-top: 8px;
    }
  }

  &-group {
    display: flex;
    padding: 0;

    + .FooterContainer-group {
      margin-top: 16px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
