$primaryColor1: #009688;
$primaryColor2: #4DB6AC;
$backgroundColor: #ECEFF1;

@mixin icon {
  font-family: icon, var(--fontFamily);
  display: inline-block;
  text-align: center;
  font-weight: normal;
  vertical-align: middle;
}

@mixin commentPanelScrollbar {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #202020;

    &:horizontal {
      height: 10px;
    }
  }

  &::-webkit-scrollbar-corner {
    background-color: #202020;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #303030;

    &:hover {
      background-color: #404040;
    }
  }
}
