// /* [[theme]] */
@import "../optionals/theme/hatsune-miku";

:root {
  --background-color: #ECEFF1;
  --background-color-2: #CFD8DC;
  --fontFamily: 'Roboto', 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 50px 0 0;
  padding: 0 0 0 64px;
  font-family: var(--fontFamily);
  font-size: 1.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
