@mixin textField {
  border: none;
  outline: none;
  border: 1px #e2e2e2 solid;
  border-radius: 2px;
  padding: 4px 8px;

  &:focus {
    border-color: var(--primary-color-1);
  }
}

@mixin flatButton {
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  transition: all .2s ease-out;
  padding: 8px 16px;
  user-select: none;

  &:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,.1);
  }

  &:active {
    background-color: rgba(0,0,0,.2);
  }
}

@mixin raisedButton--base {
  border: none;
  border-radius: 2px;
  padding: 8px 16px;
  outline: none;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
  cursor: pointer;
  transition: all .2s ease-out;
  user-select: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    box-shadow: 0 1px 2px rgba(0,0,0,.3) inset;
  }
}

@mixin raisedButton--default {
  @include raisedButton--base;
  background-color: #fff;

  &:hover {
    background-color: #f2f2f2;
  }

  &:active {
    background-color: #e2e2e2;
  }
}

@mixin raisedButton--primary {
  @include raisedButton--base;
  background-color: var(--primary-color-1);
  color: #fff;

  &:hover {
    background-color: var(--primary-color-4);
  }

  &:active {
    background-color: var(--primary-color-5);
  }
}

@mixin spinner($selector, $circleSize: 40px, $lineWidth: 5px, $lineColor: #1E88E5, $backgroundColor: #fff) {
  #{$selector} {
    $circleRadius: $circleSize / 2;
    $LineWidth: $circleRadius - $lineWidth;

    all: unset;
    width: $circleSize;
    height: $circleSize;
    position: relative;
    border-radius: 100%;
    background-color: $lineColor;
    animation: spinnerRotate 2s $ease-out-cubic infinite;
    background-image: radial-gradient(circle, $backgroundColor $LineWidth, transparent $LineWidth);
    display: block;
    pointer-events: none;

    @content;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: $circleRadius;
      height: 100%;
      background-color: $backgroundColor;
      transform-origin: $circleRadius;
      animation-duration: 2s;
      animation-timing-function: $ease-in-out-sine;
      animation-iteration-count: infinite;
    }

    &::before {
      animation-name: spinnerRotate;
      animation-delay: .8s;
    }

    &::after {
      animation-name: spinnerRotate2;
    }
  }
}


@keyframes spinnerRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spinnerRotate2 {
  0%, 25%, 45% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
